{% extends "network/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}

        <button class="btn btn-primary m-3" id="newButton" onclick="newPost()">New Post</button>

        <div style="display: none;" id="newpost">
            <div class="card m-3" style="width: 80%;">
                <div class="card-body">
                    <form action="{% url 'new_post' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="h2" for="content">New Post</label>
                            <textarea class="form-control" name="content" rows="8"></textarea>
                        </div>
                        <input class="btn btn-primary mr-4" type="submit" value="Post">
                        <a href="javascript:newPost()">Cancel</a>
                    </form>
                </div>
            </div>
        </div>

    {% endif %}

    {% for post in posts %}

        <div class="card m-3" style="width: 80%;">
            <div class="card-body">
                <h4 class="card-title">{{ post.username }}</h4>
                <p class="card-text">{{ post.content }}</p>
                <p class="text-muted">{{ post.datetime}}</p>
            </div>
        </div>

    {% endfor %}



{% endblock %}
